*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

/* Classes Auxiliares */
.clear{clear: both;}
.container{max-width: 960px; padding: 0 2%; margin: 0 auto;}


/* Site */
section.header-master{
	width: 100%;
	padding: 30px 0;
	min-height: 700px;
	background-image: url('../images/bg_01.png');
	background-size: cover;
}

section header{
	border-bottom: 3px solid rgba(71,83,88,0.14);
	padding-bottom: 20px;
}

header .logo{
	float: left;
	width: 166px;
	height: 64px;
	background-image: url('../images/logo.png');
	background-size: 100% 100%;
}

header nav.desktop{
	float: left;
	padding: 0 60px;
}

header nav.desktop ul{
	list-style-type: none;
}

header nav.desktop li{
	padding: 0 10px;
	display: inline-block;
	font-size: 16px;
	color: white;
}

header li > a{
	color: inherit;
	text-decoration: none;
}

nav.mobile{
	display: none;
	float: right;
	margin-right: 10px;
}

nav.mobile h3{
	color: white;
	font-size: 28px;
	cursor: pointer;
}

nav.mobile ul{
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	top: 65px;
	background-color: #6CC5B2;
	display: block;
	list-style-type: none;
}

nav.mobile ul li{
	width: 100%;
	padding: 15px 0;
	text-align: center;
	border-bottom: 1px solid white;
}

nav.mobile a{
	color: white;
}

nav.mobile a:hover{
	color: #509d87;
}

nav.desktop li.selected{
	color: #509d87;
	position: relative;
}

li.selected > span{
	position: absolute;
	bottom: 0;
	width: 17px;
	height: 3px;
	background-color: #509d87;
}

div.telefone-header{
	float: left;
	position: relative;
	top: -3px;
}
div.telefone-header span{
	color: white;
	font-size: 20px;
	padding-left: 15px;
}

.content-header{
	padding: 60px; 
}

.content-header .one{
	float: left;
	width: 50%;
}

.content-header .one h2{
	color: #509d87;
	font-size: 37px;
	font-weight: normal;
}

.content-header .one p{
	font-size: 15px;
	padding: 10px 0;
	padding-bottom: 20px;
}

.content-header .one form input{
	display: inline-block;
	margin-bottom: 20px;
}

.content-header .one form input[type=email] {
	width: 251px;
	height: 40px;
	border: 3px solid #ccc;
	border-radius: 130px;
	padding-left: 15px;
	margin: 10px 0;
}

.content-header .one form input[type=email]:focus {
	outline: 0;
}

.content-header .one form input[type=submit] {
	background-color: #00daaa;
	cursor: pointer;
	color: white;
	border: 0;
	height: 40px;
	padding: 10px 30px;
	border-radius: 30px;
	font-size: 15px;
	margin: 10px 0;
}

.one span{
	color: #509d87;
	font-size: 13px;
	margin: 20px 0px 0px;
	padding: 10px 0;
	display: block;
}

.content-header .two{
	float: left;
	width: 50%;
	padding: 0 30px;
}

.content-header .two img{
	float: left;
	width: 50%;
	border: 15px solid rgba(0,0,0,0);
}

/*Diferenciais*/

section.diferenciais{
	padding: 0;
}

section.diferenciais > .container{
	display: flex;
	flex-wrap: wrap;
}

.diferenciais-single{
	width: 33.3%;
	margin-bottom: 40px;
	padding: 0 10px;
}

.diferenciais-single img{
	height: 60px;
}

.diferenciais-single h2{
	font-weight: normal;
	font-size: 30px;
	color: black;
	margin: 20px 0;
}

.diferenciais-single h2 > b{
	color: #7dd5b0;
}

.diferenciais-single p{
	color: #2d2d2d;
	font-size: 14px;
	font-weight: bold;
}

/*Sobre*/

.sobre > .container{
	max-width: 1280px;
}

.sobre-container{
	float: left;
	width: 50%;
}

.sobre-container img{
	max-width: 100%;
}

.sobre-container h2{
	font-size: 33px;
	margin: 10px 0;
	color: #a9c4b8;
	font-weight: normal;
}

.sobre-container h2 > b{
	color: #03ca9f;
}

.sobre-container p{
	color: black;
	font-size: 15px;
}


.padsobre{
	padding: 10px 50px 80px 0px;
}


section.depoimento{
	position: relative;
	top: -95px;
	width: 100%;
	padding-top: 200px;
	padding-bottom: 300px;
	background-image: url('../images/bg_02.png');
	background-size: cover;
}

section.depoimento h2{
	font-weight: normal;
	color: #2d2d2d;
	font-size: 29px;
	text-align: center;
}

section.depoimento p{
	font-size: 15px;
	color: #2d2d2d;
	text-align: center;
	margin-top: 10px;
}

section.etapas{
	padding: 40px 0;
}

section.etapas > .container{
	max-width: 1200px;
}

section.etapas h2{
	text-align: center;
	color: #3b3e42;
}

.etapas__single{
	float: left;
	width: 50%;
}

.etapas__group img{
	max-width: 100%;
	float: left;
}

.etapas__single .etapas__group:nth-of-type(1) img{
	width: 50%;
}

.etapas__group p{
	float: left;
	color: #509d87;
	padding-top: 100px;
	padding-left: 30px;
}

.etapas__group2{
	margin-bottom: 40px;
}

.etapas__group2 .circle{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	float: left;
	border: 1px solid #ccc;
	position: relative;
}

.line{
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%,0);
	height: 40px;
	width: 1px;
	background-color: #ccc;
}

.circle span{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.etapas__descricao{
	float: left;
	width: calc(100% - 100px);
	padding: 0 20px;
}

.etapas__descricao h3{
	color: #03ca9f;
	font-size: 18px;
	margin-top: 35px;
}



section.diferencas{
	padding-bottom: 50px;
}

section.diferencas > .container{
	max-width: 800px;
	text-align: center;
}

.diferencas__single{
	float: left;
	width: 50%;
}

.diferencas__single h2{
	color: #a9c4b8;
	font-size: 30px;
	font-weight: normal;
}

.item-diferencas-1{
	display: inline-block;
	margin-top: 10px;
	position: relative;
}

.line-diferencas-1{
	position: absolute;
	left: 0;
	top: 11px;
	width: 100%;
	height: 3px;
	background-color: #e89595;
	z-index: 999;
	transform: rotate(-5deg);
}

.item-diferencas-1 span{
	color: #a9c4b8;
	font-weight: bold;
	font-size: 21px;
}

.item-diferencas-2{
	margin-top: 10px;
}

.item-diferencas-2 span{
	color: #7dd5b0;
	font-weight: bold;
	font-size: 21px;
}

section.contato{
	padding: 40px 0;
	background-color: #98FCDE;
}

section.contato h2{
	color: #509d87;
	text-align: center;
	font-size: 24px;
}

section.contato p{
	font-size: 14px;
	border-bottom: 1px solid #509d87;
	padding: 10px 0;
	display: block;
	text-align: center;
	color: #509d87;
}

section.contato > .container{
	max-width: 800px;
}

section.contato .form-group{
	margin-top: 10px;
}

section.contato input[type=text],
section.contato input[type=email] {
	width: 100%;
	height: 40px;
	border-radius: 40px;
	border: 1px solid #ccc;
	padding-left: 12px;
	margin-bottom: 10px;
}

section.contato textarea{
	width: 100%;
	height: 120px;
	border: 1px solid #ccc;
	padding: 12px;
	resize: none;
	margin-bottom: 10px;
}

section.contato input[type=submit]{
	cursor: pointer;
	width: 170px;
	height: 60px;
	border-radius: 100px;
	background-color: #0ed2a7;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: 0;
}

input:focus, textarea:focus{
	outline: 0;
}

footer{
	padding: 20px 0;
	background-color: #6CC5B2;
	text-align: center;
}




/*/////////////////////////////////////*/
@media screen and (max-width: 1024px){
	.etapas__group{
		margin: 40px 1%;
	}

	.etapas__single{
		width: 100%;
	}

	.etapas > .container{
		max-width: 700px;
	}

	.etapas__group img{
		max-width: 100%;
		float: none;
		display: block;
		margin: 0 auto; 
	}

	.etapas__single .etapas__group:nth-of-type(1) img{
		max-width: 100%;
		margin: 0 auto;
		width: auto;
	}

	.etapas__group p{
		display: block;
		text-align: center;
		float: none;
		padding-top: 10px;
		padding-left: 0px;
		width: 100%;
	}

	.etapas__group2{
		margin-left: 10%;
	}

}




@media screen and (max-width: 900px){
	nav.mobile{
		display: block;
	}

	.content-header{
		padding: 60px 1%;
	}
	.content-header .one{
		text-align: center;
		width: 100%;
	}

	.content-header .two{
		display: none;
	}

	.telefone-header{
		display: none;
	}

	nav.desktop{
		display: none;
	}

	section.header-master{
		min-height: 400px;
	}

	.diferenciais-single{
		width: 100%;
		text-align: center;
	}

	.sobre-container{
		width: 100%;
		margin: 0 10px;
	}

	.padsobre{
		padding: 0;
	}

	section.depoimento{
		top: 0;
	}

	section.diferencas{
		padding: 0;
	}

	.diferencas__single{
		float: left;
		width: 100%;
		margin-bottom: 60px;
		border-right: 0 !important;

	}
}